{
  "env": {
    "mocha": true,
    "node": true
  },
  "plugins": [
    "mocha"
  ],
  "globals": {
    "require": true
  },
  "rules": {
    "mocha/no-exclusive-tests": "error",
    "no-unused-expressions": "off"
  }
}