*,a{
  font-size: 22px;
  color: #54200b;

}
html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}
body{
  position: relative;
  padding-bottom: 75px;
  min-height: 100%;
  background-color: #ffffdb;
}

.content{
  padding-top: 10px;
}
@import "./header.scss";
@import "./footer.scss";

@import "./address.scss";

@import './about.scss';

@import "../../../node_modules/react-dd-menu/src/scss/react-dd-menu.scss";
.dd-menu .dd-menu-items {
  margin: 0;
}
